---
const { slides } = Astro.props;
---

<section class="c-slider splide js-slider" aria-labelledby="carousel-heading">
  <div class="c-slider__track splide__track">
    <ul class="c-slider__list splide__list">
      {slides.map((slide, index) => (
        <li class="c-slider__slide splide__slide">{slide}</li>
      ))}
    </ul>
  </div>
</section>
