.c-accordion{
  &.is-open{

    >.c-accordion__content-wrap{
      grid-template-rows: 1fr;
    }
  }
}

.c-accordion__title{
  list-style: none;
  background: #ccc;
  padding: 1rem;
}



.c-accordion__content-inner{
  padding: 1rem;
}



/********************/
// 動作用
/********************/

.c-accordion__content-wrap{
  display: grid;
  grid-template-rows: 0fr;
  transition: 250ms grid-template-rows ease;
}

.c-accordion__content{
  overflow: hidden;
}