@use '../abstracts/index' as *;

.c-container {
  max-width: rem-calc(1200);
  box-sizing: content-box;

  margin-inline: auto;
  padding-inline: rem-calc(32);

  &.-sm{
    max-width: rem-calc(1140);
  }

  @include mq(md){
    padding-inline: rem-calc(16);
  }
}
