@use "../abstracts/index" as *;

.c-grid {
  display: grid;
  gap: 2rem;
}

@include mq(lg, min) {
  .c-grid.-col_04 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@include mq(lg) {
  .c-grid.-col_04 {
    grid-template-columns: repeat(2, 1fr);
  }
}
