@use '../abstracts/index' as *;

.u-hidden-lg{
  @include mq(md,min){
    display: none!important;
  }
}
.u-hidden-md{
  @include mq(md){
    display: none!important;
  }
}
.u-visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}