@use '../abstracts/index' as *;

.u-none{
  display:none
}
.u-ib{
  display:inline-block
}
.u-disable{
  pointer-events:none
}
.u-disable{
  pointer-events:none
}
.u-visible{
  display:block
}
.u-hidden{
  display:none
}
.u-hidden-max,.u-hidden-md,.u-hidden-min,.u-hidden-sp,.u-hidden-spmin,.u-hidden-tab{
  display:none!important
}