@use '../abstracts/index' as *;

.u-mt0{
  margin-top:0!important
}
.u-mb0{
  margin-bottom:0!important
}
.u-ml0{
  margin-left:0!important
}
.u-mr0{
  margin-right:0!important
}
.u-pt0{
  padding-top:0!important
}
.u-pb0{
  padding-bottom:0!important
}
.u-pl0{
  padding-left:0!important
}
.u-pr0{
  padding-right:0!important
}
.u-mt5{
  margin-top:calc(.40816vw + 3.46939px)!important
}
.u-mb5{
  margin-bottom:calc(.40816vw + 3.46939px)!important
}
.u-ml5{
  margin-left:calc(.40816vw + 3.46939px)!important
}
.u-mr5{
  margin-right:calc(.40816vw + 3.46939px)!important
}
.u-pt5{
  padding-top:calc(.40816vw + 3.46939px)!important
}
.u-pb5{
  padding-bottom:calc(.40816vw + 3.46939px)!important
}
.u-pl5{
  padding-left:calc(.40816vw + 3.46939px)!important
}
.u-pr5{
  padding-right:calc(.40816vw + 3.46939px)!important
}
.u-mt10{
  margin-top:calc(.81633vw + 6.93878px)!important
}
.u-mb10{
  margin-bottom:calc(.81633vw + 6.93878px)!important
}
.u-ml10{
  margin-left:calc(.81633vw + 6.93878px)!important
}
.u-mr10{
  margin-right:calc(.81633vw + 6.93878px)!important
}
.u-pt10{
  padding-top:calc(.81633vw + 6.93878px)!important
}
.u-pb10{
  padding-bottom:calc(.81633vw + 6.93878px)!important
}
.u-pl10{
  padding-left:calc(.81633vw + 6.93878px)!important
}
.u-pr10{
  padding-right:calc(.81633vw + 6.93878px)!important
}
.u-mt15{
  margin-top:calc(1.22449vw + 10.40816px)!important
}
.u-mb15{
  margin-bottom:calc(1.22449vw + 10.40816px)!important
}
.u-ml15{
  margin-left:calc(1.22449vw + 10.40816px)!important
}
.u-mr15{
  margin-right:calc(1.22449vw + 10.40816px)!important
}
.u-pt15{
  padding-top:calc(1.22449vw + 10.40816px)!important
}
.u-pb15{
  padding-bottom:calc(1.22449vw + 10.40816px)!important
}
.u-pl15{
  padding-left:calc(1.22449vw + 10.40816px)!important
}
.u-pr15{
  padding-right:calc(1.22449vw + 10.40816px)!important
}
.u-mt20{
  margin-top:calc(1.63265vw + 13.87755px)!important
}
.u-mb20{
  margin-bottom:calc(1.63265vw + 13.87755px)!important
}
.u-ml20{
  margin-left:calc(1.63265vw + 13.87755px)!important
}
.u-mr20{
  margin-right:calc(1.63265vw + 13.87755px)!important
}
.u-pt20{
  padding-top:calc(1.63265vw + 13.87755px)!important
}
.u-pb20{
  padding-bottom:calc(1.63265vw + 13.87755px)!important
}
.u-pl20{
  padding-left:calc(1.63265vw + 13.87755px)!important
}
.u-pr20{
  padding-right:calc(1.63265vw + 13.87755px)!important
}
.u-mt25{
  margin-top:calc(2.04082vw + 17.34694px)!important
}
.u-mb25{
  margin-bottom:calc(2.04082vw + 17.34694px)!important
}
.u-ml25{
  margin-left:calc(2.04082vw + 17.34694px)!important
}
.u-mr25{
  margin-right:calc(2.04082vw + 17.34694px)!important
}
.u-pt25{
  padding-top:calc(2.04082vw + 17.34694px)!important
}
.u-pb25{
  padding-bottom:calc(2.04082vw + 17.34694px)!important
}
.u-pl25{
  padding-left:calc(2.04082vw + 17.34694px)!important
}
.u-pr25{
  padding-right:calc(2.04082vw + 17.34694px)!important
}
.u-mt30{
  margin-top:calc(2.44898vw + 20.81633px)!important
}
.u-mb30{
  margin-bottom:calc(2.44898vw + 20.81633px)!important
}
.u-ml30{
  margin-left:calc(2.44898vw + 20.81633px)!important
}
.u-mr30{
  margin-right:calc(2.44898vw + 20.81633px)!important
}
.u-pt30{
  padding-top:calc(2.44898vw + 20.81633px)!important
}
.u-pb30{
  padding-bottom:calc(2.44898vw + 20.81633px)!important
}
.u-pl30{
  padding-left:calc(2.44898vw + 20.81633px)!important
}
.u-pr30{
  padding-right:calc(2.44898vw + 20.81633px)!important
}
.u-mt35{
  margin-top:calc(2.85714vw + 24.28571px)!important
}
.u-mb35{
  margin-bottom:calc(2.85714vw + 24.28571px)!important
}
.u-ml35{
  margin-left:calc(2.85714vw + 24.28571px)!important
}
.u-mr35{
  margin-right:calc(2.85714vw + 24.28571px)!important
}
.u-pt35{
  padding-top:calc(2.85714vw + 24.28571px)!important
}
.u-pb35{
  padding-bottom:calc(2.85714vw + 24.28571px)!important
}
.u-pl35{
  padding-left:calc(2.85714vw + 24.28571px)!important
}
.u-pr35{
  padding-right:calc(2.85714vw + 24.28571px)!important
}
.u-mt40{
  margin-top:calc(3.26531vw + 27.7551px)!important
}
.u-mb40{
  margin-bottom:calc(3.26531vw + 27.7551px)!important
}
.u-ml40{
  margin-left:calc(3.26531vw + 27.7551px)!important
}
.u-mr40{
  margin-right:calc(3.26531vw + 27.7551px)!important
}
.u-pt40{
  padding-top:calc(3.26531vw + 27.7551px)!important
}
.u-pb40{
  padding-bottom:calc(3.26531vw + 27.7551px)!important
}
.u-pl40{
  padding-left:calc(3.26531vw + 27.7551px)!important
}
.u-pr40{
  padding-right:calc(3.26531vw + 27.7551px)!important
}
.u-mt45{
  margin-top:calc(3.67347vw + 31.22449px)!important
}
.u-mb45{
  margin-bottom:calc(3.67347vw + 31.22449px)!important
}
.u-ml45{
  margin-left:calc(3.67347vw + 31.22449px)!important
}
.u-mr45{
  margin-right:calc(3.67347vw + 31.22449px)!important
}
.u-pt45{
  padding-top:calc(3.67347vw + 31.22449px)!important
}
.u-pb45{
  padding-bottom:calc(3.67347vw + 31.22449px)!important
}
.u-pl45{
  padding-left:calc(3.67347vw + 31.22449px)!important
}
.u-pr45{
  padding-right:calc(3.67347vw + 31.22449px)!important
}
.u-mt50{
  margin-top:calc(4.08163vw + 34.69388px)!important
}
.u-mb50{
  margin-bottom:calc(4.08163vw + 34.69388px)!important
}
.u-ml50{
  margin-left:calc(4.08163vw + 34.69388px)!important
}
.u-mr50{
  margin-right:calc(4.08163vw + 34.69388px)!important
}
.u-pt50{
  padding-top:calc(4.08163vw + 34.69388px)!important
}
.u-pb50{
  padding-bottom:calc(4.08163vw + 34.69388px)!important
}
.u-pl50{
  padding-left:calc(4.08163vw + 34.69388px)!important
}
.u-pr50{
  padding-right:calc(4.08163vw + 34.69388px)!important
}
.u-mt55{
  margin-top:calc(4.4898vw + 38.16327px)!important
}
.u-mb55{
  margin-bottom:calc(4.4898vw + 38.16327px)!important
}
.u-ml55{
  margin-left:calc(4.4898vw + 38.16327px)!important
}
.u-mr55{
  margin-right:calc(4.4898vw + 38.16327px)!important
}
.u-pt55{
  padding-top:calc(4.4898vw + 38.16327px)!important
}
.u-pb55{
  padding-bottom:calc(4.4898vw + 38.16327px)!important
}
.u-pl55{
  padding-left:calc(4.4898vw + 38.16327px)!important
}
.u-pr55{
  padding-right:calc(4.4898vw + 38.16327px)!important
}
.u-mt60{
  margin-top:calc(4.89796vw + 41.63265px)!important
}
.u-mb60{
  margin-bottom:calc(4.89796vw + 41.63265px)!important
}
.u-ml60{
  margin-left:calc(4.89796vw + 41.63265px)!important
}
.u-mr60{
  margin-right:calc(4.89796vw + 41.63265px)!important
}
.u-pt60{
  padding-top:calc(4.89796vw + 41.63265px)!important
}
.u-pb60{
  padding-bottom:calc(4.89796vw + 41.63265px)!important
}
.u-pl60{
  padding-left:calc(4.89796vw + 41.63265px)!important
}
.u-pr60{
  padding-right:calc(4.89796vw + 41.63265px)!important
}
.u-mt65{
  margin-top:calc(5.30612vw + 45.10204px)!important
}
.u-mb65{
  margin-bottom:calc(5.30612vw + 45.10204px)!important
}
.u-ml65{
  margin-left:calc(5.30612vw + 45.10204px)!important
}
.u-mr65{
  margin-right:calc(5.30612vw + 45.10204px)!important
}
.u-pt65{
  padding-top:calc(5.30612vw + 45.10204px)!important
}
.u-pb65{
  padding-bottom:calc(5.30612vw + 45.10204px)!important
}
.u-pl65{
  padding-left:calc(5.30612vw + 45.10204px)!important
}
.u-pr65{
  padding-right:calc(5.30612vw + 45.10204px)!important
}
.u-mt70{
  margin-top:calc(5.71429vw + 48.57143px)!important
}
.u-mb70{
  margin-bottom:calc(5.71429vw + 48.57143px)!important
}
.u-ml70{
  margin-left:calc(5.71429vw + 48.57143px)!important
}
.u-mr70{
  margin-right:calc(5.71429vw + 48.57143px)!important
}
.u-pt70{
  padding-top:calc(5.71429vw + 48.57143px)!important
}
.u-pb70{
  padding-bottom:calc(5.71429vw + 48.57143px)!important
}
.u-pl70{
  padding-left:calc(5.71429vw + 48.57143px)!important
}
.u-pr70{
  padding-right:calc(5.71429vw + 48.57143px)!important
}
.u-mt75{
  margin-top:calc(6.12245vw + 52.04082px)!important
}
.u-mb75{
  margin-bottom:calc(6.12245vw + 52.04082px)!important
}
.u-ml75{
  margin-left:calc(6.12245vw + 52.04082px)!important
}
.u-mr75{
  margin-right:calc(6.12245vw + 52.04082px)!important
}
.u-pt75{
  padding-top:calc(6.12245vw + 52.04082px)!important
}
.u-pb75{
  padding-bottom:calc(6.12245vw + 52.04082px)!important
}
.u-pl75{
  padding-left:calc(6.12245vw + 52.04082px)!important
}
.u-pr75{
  padding-right:calc(6.12245vw + 52.04082px)!important
}
.u-mt80{
  margin-top:calc(6.53061vw + 55.5102px)!important
}
.u-mb80{
  margin-bottom:calc(6.53061vw + 55.5102px)!important
}
.u-ml80{
  margin-left:calc(6.53061vw + 55.5102px)!important
}
.u-mr80{
  margin-right:calc(6.53061vw + 55.5102px)!important
}
.u-pt80{
  padding-top:calc(6.53061vw + 55.5102px)!important
}
.u-pb80{
  padding-bottom:calc(6.53061vw + 55.5102px)!important
}
.u-pl80{
  padding-left:calc(6.53061vw + 55.5102px)!important
}
.u-pr80{
  padding-right:calc(6.53061vw + 55.5102px)!important
}
.u-mt85{
  margin-top:calc(6.93878vw + 58.97959px)!important
}
.u-mb85{
  margin-bottom:calc(6.93878vw + 58.97959px)!important
}
.u-ml85{
  margin-left:calc(6.93878vw + 58.97959px)!important
}
.u-mr85{
  margin-right:calc(6.93878vw + 58.97959px)!important
}
.u-pt85{
  padding-top:calc(6.93878vw + 58.97959px)!important
}
.u-pb85{
  padding-bottom:calc(6.93878vw + 58.97959px)!important
}
.u-pl85{
  padding-left:calc(6.93878vw + 58.97959px)!important
}
.u-pr85{
  padding-right:calc(6.93878vw + 58.97959px)!important
}
.u-mt90{
  margin-top:calc(7.34694vw + 62.44898px)!important
}
.u-mb90{
  margin-bottom:calc(7.34694vw + 62.44898px)!important
}
.u-ml90{
  margin-left:calc(7.34694vw + 62.44898px)!important
}
.u-mr90{
  margin-right:calc(7.34694vw + 62.44898px)!important
}
.u-pt90{
  padding-top:calc(7.34694vw + 62.44898px)!important
}
.u-pb90{
  padding-bottom:calc(7.34694vw + 62.44898px)!important
}
.u-pl90{
  padding-left:calc(7.34694vw + 62.44898px)!important
}
.u-pr90{
  padding-right:calc(7.34694vw + 62.44898px)!important
}
.u-mt95{
  margin-top:calc(7.7551vw + 65.91837px)!important
}
.u-mb95{
  margin-bottom:calc(7.7551vw + 65.91837px)!important
}
.u-ml95{
  margin-left:calc(7.7551vw + 65.91837px)!important
}
.u-mr95{
  margin-right:calc(7.7551vw + 65.91837px)!important
}
.u-pt95{
  padding-top:calc(7.7551vw + 65.91837px)!important
}
.u-pb95{
  padding-bottom:calc(7.7551vw + 65.91837px)!important
}
.u-pl95{
  padding-left:calc(7.7551vw + 65.91837px)!important
}
.u-pr95{
  padding-right:calc(7.7551vw + 65.91837px)!important
}
.u-mt100{
  margin-top:calc(8.16327vw + 69.38776px)!important
}
.u-mb100{
  margin-bottom:calc(8.16327vw + 69.38776px)!important
}
.u-ml100{
  margin-left:calc(8.16327vw + 69.38776px)!important
}
.u-mr100{
  margin-right:calc(8.16327vw + 69.38776px)!important
}
.u-pt100{
  padding-top:calc(8.16327vw + 69.38776px)!important
}
.u-pb100{
  padding-bottom:calc(8.16327vw + 69.38776px)!important
}
.u-pl100{
  padding-left:calc(8.16327vw + 69.38776px)!important
}
.u-pr100{
  padding-right:calc(8.16327vw + 69.38776px)!important
}