@use "variables" as *;

@function rem-calc($pixels) {
  @return calc($pixels/$base-fs * 1rem);
}

$mq-breakpoints: (
  xxl: 1440px,
  xl: 1280px,
  lg: 1024px,
  md: 768px,
  sm: 425px,
  xs: 375px,
) !default;

@mixin mq($breakpoint: md, $rule: max) {
  $breakpoint: map_get($mq-breakpoints, $breakpoint);

  @if $rule==min {
    @media not screen and (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @media screen and (max-width: $breakpoint) {
      @content;
    }
  }
}

@mixin z-map($z-map) {
  $before-index: -1;

  @each $name, $value in $z-map {
    $result-z: null;

    @if $value == auto {
      $result-z: $before-index + 1;
    } @else {
      $result-z: $value;
    }

    $before-index: $result-z;
    #{$name}: $result-z;
  }
}



@mixin modalOverlay(){
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}


