// Base Setting
$color-primary: #005caf;
$color-secondary: #00896c;
$color-black: #222;
$color-white: #fff;
$color-border: #ddd;

// Naming for Use
$color-back: $color-white;
$color-text: $color-black;

// font
$base-fs: 16; //rem計算用
$fs-default: 1rem;
$ff-default: sans-serif;


//