---

---

<div class='c-drawer-menu-wrapper'>

  <button class="c-drawer-menu-button" id="js-drawer-menu-button" type="button" aria-label="メニュー" aria-expanded='false' data-micromodal-open='js-drawer-menu'>
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
      <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path>
    </svg>
  </button>


  <div class='c-drawer-menu' id="js-drawer-menu" aria-hidden="true" data-modal-wrapper>
    <div class='c-drawer-menu__overlay' tabindex="-1" data-micromodal-close data-modal-overlay>
      <div role='dialog' class='c-drawer-menu__container' aria-label="ドロワーメニュー" data-modal-container>
        <div id="js-drawer-menu-content"  class='c-drawer-menu__content'>
          コンテンツ
          <a href='https://example.com' target='_blank'>aaa</a>
          <button class="c-drawer-menu-button" type="button" aria-label="メニュー" aria-expanded='false' data-micromodal-close='js-drawer-menu'>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#000000" viewBox="0 0 256 256">
              <path d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"></path>
            </svg>
          </button>
        </div>

      </div>
    </div>
  </div>
</div>


<!--<div class="c-drawer-menu" id="js-drawer-menu" aria-hidden="true">-->
<!--  <div tabindex='-1' data-micromodal-close>-->
<!--    <dialog aria-label='ドロワーメニュー' class="c-drawer-menu__container">-->
<!--    コンテンツ-->
<!--    </dialog>-->
<!--  </div>-->
<!--</div>-->